<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= current_teacher.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= current_teacher.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_teacher.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= current_teacher.password %>
</p>

<%= link_to 'Edit', edit_teacher_path(current_teacher) %> |
<%= link_to 'Back', teachers_path %>
